<h1>C M F Jr</h1>
<img src="beach.jpg" alt="Beach">
<div>
<p>Links</p>
<a href="https://www.linkedin.com/in/charles-ferguson-jr">LinkedIn</a>
<a href="https://www.startupinstitute.com/students/2016/new-york/fall/web-development/2743/charlesmfergusonjr/">Startup Institute Profile</a>
<a href="https://github.com/charlesmferguson">Github</a>
<a href="https://twitter.com/montieferg">Twitter</a>
<div>
